@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: 100vh;
  width: 100vh;
  padding: 10px;
}

.sub {
  margin: 0;
  font-size: 9px;
}

.hero {
  font-size: 28px;
}

.continue {
  position: absolute;
  width: 100%;
  bottom: 2vh; 
  margin-left: -10px;
}

.back {
  font-weight: bold;
}

.outro {
  font-size: 24px;
  margin-top: 60px;
}

.chart {
  display: inline-block;
  max-height: 50vh;
}

.selector-wrapper {
  padding-top: 14px;
}

.trip-button {
  display: inline-block;
  padding: 5px 7px;
}

@media (orientation: portrait) {
  .page {
    width: 95vw;
    font-size: 16px;

  }
  .hero {
    font-size: 20px;
    margin: 0
  }
  .chart {
    margin-top: -15px;
  }
}